sdsl-lite/*
vcflib/
experiments/realdata/datasets/*
experiments/realdata/compare_results/*
experiments/readmapping/*
experiments/words/*
experiments/maw/eds/*
experiments/maw/em-maw-output/old/*
experiments/maw/patterns/old/*
experiments/maw/references/*
experiments/maw/results/old/*
experiments/maw/vcf/*
experiments/maw/old/*
multiedsm
test
test.cpp
*.o
*.exe
